{% extends 'base.html' %}
{% load static %}
{% block title %}About {% endblock title %}
{% block banner-slider %}
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'ecomapp/images/banner/b.jpeg' %}" class="d-block w-100" alt="banner image">
    </div>
<!--    <div class="carousel-item">-->
<!--      <img src="{% static 'ecomapp/images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">-->
<!--    </div>-->
     </div>
 </div>
{% endblock banner-slider %}
{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">This is a public limited company having its registered and corporate office at Kerala. The company was incorporated in the year 2022 and production commenced in 2023.
        this is one of the fastest growing Public Listed Companies in Kerala.</p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">To ensure the supply of best quality Milk products. To ensure best price of milk along with timely payment to our dairy farmers. To be a market leader in our industry.
            To continually adopt practices and methods to protect the environment and ensure the safety of our employees and society at large.</p>
    </div>
</div>
<br><br>
{% endblock main-content %}